.wrapper {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.transparent-button {
    display: flex;
    justify-content: center;
}

.center-spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
    margin-top: -5px; /* half of the elements height */
    margin-right: -5px; /* half of the elements widht */
}

.error-text {
    text-align: center;
}